In [2]:
#Dataframe manipulation library
import pandas as pd
#Math functions, we'll only need the sqrt function so let's import only that
from math import sqrt
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

#Storing the movie information into a pandas dataframe
movies_df = pd.read_csv('movies.csv')
#Storing the user information into a pandas dataframe
ratings_df = pd.read_csv('ratings.csv')

#Using regular expressions to find a year stored between parentheses
#We specify the parantheses so we don't conflict with movies that have years in their titles
movies_df['year'] = movies_df.title.str.extract('(\(\d\d\d\d\))',expand=False)
#Removing the parentheses
movies_df['year'] = movies_df.title.str.extract('(\d\d\d\d)',expand=False)
#Removing the years from the 'title' column
movies_df['title']= movies_df.title.str.replace('(\(\d\d\d\d\))','')
#Applying the strip function to get rid of any ending whitespace characters that may have appeared
movies_df['title'] = movies_df['title'].apply(lambda x: x.strip())
movies_df = movies_df.drop('genres',1)

ratings_df = ratings_df.drop('timestamp',1)

userInput = [
            {'title':'Breakfast Club, The', 'rating':5},
            {'title':'Toy Story', 'rating':3.5},
            {'title':'Jumanji', 'rating':2},
            {'title':"Pulp Fiction", 'rating':5},
            {'title':'Akira', 'rating':4.5}
         ] 

inputMovies  = pd.DataFrame(userInput)
print('User Input:\n',inputMovies) 


#Filtering out the movies by title
inputId = movies_df[movies_df['title'].isin(inputMovies['title'].tolist())]
#Then merging it so we can get the movieId. It's implicitly merging it by title.
inputMovies = pd.merge(inputId,inputMovies)
inputMovies = inputMovies.drop('year',1)
#Filtering out users that have watched movies that the input has watched and storing it
userSubset = ratings_df[ratings_df['movieId'].isin(inputMovies['movieId'].tolist())]
userSubsetGroup = userSubset.groupby(['userId'])
#Sorting it so users with movie most in common with the input will have priority
userSubsetGroup = sorted(userSubsetGroup, reverse=True, key=lambda x: len(x[1]))

userSubsetGroup = userSubsetGroup[0:100]


#Store the Pearson Correlation in a dictionary, where the key is the user Id and the value is the coefficients
pearsonCorrelationDict = {}
#For every user group in our subset
for name, group in userSubsetGroup:
    #Let's start by sorting the input and current user group so the values aren't mixed up later on
    group = group.sort_values(by='movieId')
    inputMovies = inputMovies.sort_values(by='movieId')
    #Get the N for the formula
    nRatings = len(group)
    #Get the review scores for the movies that they both have in common
    temp_df = inputMovies[inputMovies['movieId'].isin(group['movieId'].tolist())]
    #And then store them in a temporary buffer variable in a list format to facilitate future calculations
    tempRatingList = inputMovies['rating'].tolist()
    #Let's also put the current user group reviews in a list format
    tempGroupList = group['rating'].tolist()
    #Now let's calculate the pearson correlation between two users, so called, x and y
    Sxx = sum([i**2 for i in tempRatingList]) - pow(sum(tempRatingList),2)/float(nRatings)
    Syy = sum([i**2 for i in tempGroupList]) - pow(sum(tempGroupList),2)/float(nRatings)
    Sxy = sum( i*j for i, j in zip(tempRatingList, tempGroupList)) - sum(tempRatingList)*sum(tempGroupList)/float(nRatings)
    #If the denominator is different than zero, then divide, else, 0 correlation.
    if Sxx != 0 and Syy != 0:
        pearsonCorrelationDict[name] = Sxy/sqrt(Sxx*Syy)
    else:
        pearsonCorrelationDict[name] = 0
        
        

pearsonDF = pd.DataFrame.from_dict(pearsonCorrelationDict, orient='index')
pearsonDF.columns = ['similarityIndex']
pearsonDF['userId'] = pearsonDF.index
pearsonDF.index = range(len(pearsonDF))

 
topUsers = pearsonDF.sort_values('similarityIndex', ascending=False)[0:50]


#Rating of selected users to all movies
topUsersRating = topUsers.merge(ratings_df, left_on='userId', right_on='userId', how='inner')
topUsersRating['weightedRating'] = topUsersRating['similarityIndex']*topUsersRating['rating']
topUsersRating.head()


#Applies a sum to the topUsers after grouping it up by userId
tempTopUsersRating = topUsersRating.groupby('movieId').sum()[['similarityIndex','weightedRating']]
tempTopUsersRating.columns = ['sum_similarityIndex','sum_weightedRating']


recommendation_df = pd.DataFrame()
#Now we take the weighted average
recommendation_df['weighted average recommendation score'] = tempTopUsersRating['sum_weightedRating']/tempTopUsersRating['sum_similarityIndex']
recommendation_df['movieId'] = tempTopUsersRating.index

recommendation_df = recommendation_df.sort_values(by='weighted average recommendation score', ascending=False)
recommendation_df.head(20)

print('\n\n\n\n\n\n TOP 20 RECOMMENDED MOVIES ACCORDING TO INPUT REVIEWS:\n')
movies_df.loc[movies_df['movieId'].isin(recommendation_df.head(20)['movieId'].tolist())]

User Input:
                  title  rating
0  Breakfast Club, The     5.0
1            Toy Story     3.5
2              Jumanji     2.0
3         Pulp Fiction     5.0
4                Akira     4.5






 TOP 20 RECOMMENDED MOVIES ACCORDING TO INPUT REVIEWS:

       movieId                                              title  year
97          99                      Heidi Fleiss: Hollywood Madam  1995
119        121                           Boys of St. Vincent, The  1992
2200      2284                                       Bandit Queen  1994
3243      3329                           Year My Voice Broke, The  1987
3449      3539                            Filth and the Fury, The  2000
3669      3759                                 Fun and Fancy Free  1947
3679      3769                          Thunderbolt and Lightfoot  1974
3685      3775                                    Make Mine Music  1946
3686      3776                                        Melody Time  1948
3759      3851                            I'm the One That I Want  2000
4978      5073            Son's Room, The (Stanza del figlio, La)  2001
6551      6660                                     Red Shoes, The  1948
6559      6668               Road Home, The (Wo de fu qin mu qin)  1999
6563      6672                                   War Photographer  2001
6667      6776                  Lagaan: Once Upon a Time in India  2001
6808      6918                      Unvanquished, The (Aparajito)  1957
6932      7043  Vivre sa vie: Film en douze tableaux (My Life ...  1962
9064     26801                Dragon Inn (Sun lung moon hak chan)  1992
18106    90531                                              Shame  2011
18272    91199                                            Weekend  2011